.back {
  background-image: url(../images/images.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-bar {
  color: white;
  font-size: 24px;
  margin-top: 0px;
  font-family: Gilroy;
  font-weight: 10px;
  height: 10px;
}

.opa {
  opacity: 0.2;
  width: 1200px;
  height: 680px;
  position: relative;
  top: 110px;
  bottom: 0px;
}

.icon {
  position: absolute;
  top: 110px;
  width: 200px;
  height: 200px;
  border-radius: 20%;
  right: 0px;
  left: 1000px;
}

.said {
  font-family: Gilroy;
  position: absolute;
  top: 180px;
  left: 150px;
  color: white;
}

.said2 {
  font-family: Gilroy;
  position: absolute;
  top: 230px;
  left: 170px;
  color: white;
}

.caption {
  position: absolute;
  color: white;
  top: 315px;
  left: 1060px;
  font-family: Gilroy;
  font-weight: 1px;
}

.btn {
  position: absolute;
  width: 150px;
  height: 40px;
  font-family: Gilroy;
  letter-spacing: 4px;
  border: none;
  color: white;
  background-color: black;
  opacity: 0.6;
  top: 310px;
  left: 170px;
}

.btn:hover {
  width: 152px;
  height: 42px;
  font-family: Gilroy;
  letter-spacing: 4px;
  border: none;
  color: white;
  background-color: grey;
  opacity: 1;
  transition: 0.2s;
  box-shadow: 5px  grey;
}

.text {
 position: absolute;
 top: 450px;
 left: 430px;
}

hr {
color: black;
background-color: black;
border-color: black;
width: 100px;
opacity: 0.6
}

.agadir {
  position: absolute;
  width: 234px;
  height: 416px;
  top: 620px;
  left: 215px;
}

.agadir:hover {
  position: absolute;
  width: 234px;
  height: 416px;
  top: 620px;
  left: 215px;
  border: solid;
  border-left: none;
  border-bottom: none;
  border-right: none;
  border-color: #D7DBE6;
  transition: 0.2s;
  border-width: thick;
}

.agadir-text {
  font-family: Gilroy;
  font-weight: lighter;
  color: white;
  position: absolute;
  left: 230px;
  top: 610px;
}

.ess {
  position: absolute;
  width: 234px;
  height: 416px;
  top: 620px;
  left: 915px;
}

.ess:hover {
  position: absolute;
  width: 234px;
  height: 416px;
  top: 620px;
  left: 915px;
  border: solid;
  border-left: none;
  border-bottom: none;
  border-right: none;
  border-color: #318DD9;
  transition: 0.2s;
  border-width: thick;
  text-align: center;
}

.ess-text {
  font-family: Gilroy;
  font-weight: lighter;
  color: white;
  position: absolute;
  top: 610px;
  left: 970px;
}

.ims {
  position: absolute;
  width: 234px;
  height: 416px;
  top: 620px;
  left: 565px;
}

.ims:hover {
  position: absolute;
  width: 234px;
  height: 416px;
  top: 620px;
  left: 565px;
  border: solid;
  border-left: none;
  border-bottom: none;
  border-right: none;
  border-color: #F4D2AB;
  transition: 0.2s;
  border-width: thick;
  text-align: center;
}

.ims-text {
  font-family: Gilroy;
  font-weight: lighter;
  color: white;
  position: absolute;
  top: 970px;
  left: 580px;
}

.made {
  position: absolute;
  top: 1090px;
  left: 500px;
  right: 500px;
  bottom: 20px;
}

.goto {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 1100px;
  left: 850px;
}
